In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import preprocessing
import statsmodels.formula.api as smf
from pandas import read_csv
import pandas as pd
from collections import Counter
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

%matplotlib inline

train = pd.read_csv('dataset/sales_train.csv')
test = pd.read_csv('dataset/test.csv')
shops = pd.read_csv('dataset/shops.csv')
items = pd.read_csv('dataset/items.csv')
items_categories = pd.read_csv('dataset/item_categories.csv')
#train.describe()

def preprocess_date(data):
    data['month'], data['date'], data['year'] = data['date'].str.split('.').str
    data[['month']] = data[['month']].astype(int)
    data[['date']] = data[['date']].astype(int)
    data[['year']] = data[['year']].astype(int)
    return data
    
print(preprocess_date(train).head())

   date  date_block_num  shop_id  item_id  item_price  item_cnt_day  month  \
0     1               0       59    22154      999.00           1.0      2
1     1               0       25     2552      899.00           1.0      3
2     1               0       25     2552      899.00          -1.0      5
3     1               0       25     2554     1709.05           1.0      6
4     1               0       25     2555     1099.00           1.0     15

   year
0  2013
1  2013
2  2013
3  2013
4  2013

In [5]:
import warnings
warnings.filterwarnings('ignore')
gp = train.groupby(['date_block_num', 'shop_id', 'item_id']).agg({'item_cnt_day': ['sum']})
X = np.array(list(map(list, gp.index.values)))
Y_train = gp.values
test['date_block_num'] = train['date_block_num'].max() + 1
X_test = test[['date_block_num', 'shop_id', 'item_id']].values

oh0 = OneHotEncoder().fit(X[:,0].reshape(-1, 1))
x0 = oh0.transform(X[:,0].reshape(-1, 1))
oh1 = OneHotEncoder().fit(X[:,1].reshape(-1, 1))
x1 = oh1.transform(X[:,1].reshape(-1, 1))
x1_t = oh1.transform(X_test[:,1].reshape(-1, 1))
X_train = np.concatenate((X[:, :1], x1.toarray(), X[:, 2:]), axis=1)
X_test = np.concatenate((X_test[:, :1], x1_t.toarray(), X_test[:, 2:]), axis=1)

In [6]:
train.describe()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,month,year
count,2.935849e+06,2.935849e+06,2.935849e+06,2.935849e+06,2.935849e+06,2.935849e+06,2.935849e+06,2.935849e+06
mean,6.247717e+00,1.456991e+01,3.300173e+01,1.019723e+04,8.908532e+02,1.242641e+00,1.585267e+01,2.013777e+03
std,3.536219e+00,9.422988e+00,1.622697e+01,6.324297e+03,1.729800e+03,2.618834e+00,8.923483e+00,7.684790e-01
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,-2.200000e+01,1.000000e+00,2.013000e+03
25%,3.000000e+00,7.000000e+00,2.200000e+01,4.476000e+03,2.490000e+02,1.000000e+00,8.000000e+00,2.013000e+03
50%,6.000000e+00,1.400000e+01,3.100000e+01,9.343000e+03,3.990000e+02,1.000000e+00,1.600000e+01,2.014000e+03
75%,9.000000e+00,2.300000e+01,4.700000e+01,1.568400e+04,9.990000e+02,1.000000e+00,2.400000e+01,2.014000e+03
max,1.200000e+01,3.300000e+01,5.900000e+01,2.216900e+04,3.079800e+05,2.169000e+03,3.100000e+01,2.015000e+03

In [8]:
#xgboost

from xgboost import XGBRegressor
#X_train = xgb.DMatrix(X_train)
#Y_train = xgb.DMatrix(Y_train)
xgb_model = XGBRegressor()
xgb_model = xgb_model.fit(X_train, Y_train)

In [14]:
xgb_prediction = xgb_model.predict(X_test)
xgb_prediction

array([1.9597523, 1.9597523, 1.9597523, ..., 1.5849258, 1.4825058,
       1.3062913], dtype=float32)

In [15]:
submission = pd.DataFrame({'ID': test['ID'], 'item_cnt_month': xgb_prediction.ravel()})
submission.to_csv('submission.csv',index=False)