In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.ensemble import RandomForestRegressor
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import preprocessing
import statsmodels.formula.api as smf
from pandas import read_csv
import pandas as pd
from collections import Counter

from sklearn.preprocessing import StandardScaler
%matplotlib inline

train = pd.read_csv('dataset/sales_train.csv')
test = pd.read_csv('dataset/test.csv')
shops = pd.read_csv('dataset/shops.csv')
items = pd.read_csv('dataset/items.csv')
items_categories = pd.read_csv('dataset/item_categories.csv')

In [2]:
scaler = StandardScaler().fit(train['item_price'].values.reshape(-1, 1))
train['item_price'] = scaler.transform(train['item_price'].values.reshape(-1, 1))
scaler = StandardScaler().fit(train['item_cnt_day'].values.reshape(-1, 1))
train['item_cnt_day'] = scaler.transform(train['item_cnt_day'].values.reshape(-1, 1))
train.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  1.565343e-14 -7.504709e-16
std      9.422988e+00  1.622697e+01  6.324297e+03  1.000000e+00  1.000000e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -5.155819e-01 -8.875187e+00
25%      7.000000e+00  2.200000e+01  4.476000e+03 -3.710565e-01 -9.265226e-02
50%      1.400000e+01  3.100000e+01  9.343000e+03 -2.843412e-01 -9.265226e-02
75%      2.300000e+01  4.700000e+01  1.568400e+04  6.251983e-02 -9.265226e-02
max      3.300000e+01  5.900000e+01  2.216900e+04  1.775288e+02  8.277567e+02

In [4]:
from datetime import datetime

#find missing date
def datekey(item):
    date, _ = item
    #print(date)
    d, m, y = date.split('.')
    #print(y+m+d)
    return y+m+d

def getdatelist(beginDate, endDate):
    date_l=[datetime.strftime(x,'%d.%m.%Y') for x in list(pd.date_range(start=beginDate, end=endDate))]
    return date_l

datelist = Counter(train['date'])
datelist = sorted(datelist.items(), key=datekey)
print(len(datelist))
#01.01.2013 - 31.10.2015

fulldatelist = getdatelist('20130101', '20151031')
print(len(fulldatelist))

1034
1034